@page
@model Rentify.RazorWebApp.Pages.InquiryPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inquiry</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inquiry.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inquiry.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inquiry.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inquiry.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inquiry.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inquiry.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inquiry.Note)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inquiry.Note)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inquiry.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inquiry.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inquiry.Post)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inquiry.Post.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inquiry.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inquiry.User.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inquiry.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inquiry.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inquiry.UpdatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inquiry.UpdatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inquiry.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inquiry.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inquiry.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inquiry.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inquiry.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inquiry.IsDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Inquiry.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
