@page
@model MilkyShop.RazorWebApp.Pages.OrderItemPages.IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].UpdatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
